<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>  
        <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">GOODNESS DELIEVERY</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="http://127.0.0.1:5000/cadastro">cadastro</a></li>
            </ul>
            </div>
        </nav>
        <center>
            <h2>Quereremos atitudes caridosas para instituições caridosas.</h12>
                <br>
            <p>
                    Nosso objetivo é diminuir a distância entre instituições que precisam de ajuda e pessoas que querem ajudar, preencha os formulários, para encontrar a pessoa ou a instituição onde você possa ajudar ou ser ajudado.
            </p>
        </center>
    </body>
</html>